div.container {
  max-width: 1140px;
  margin: 0 auto;
}

.facets-container {
  border: 1px solid #e4ddc7;
  border-radius: 3px;
  background: #fcf9ef;
  padding: 1em 10px;
  position: relative;
}

.facets-container input {
  border-radius: 30px;
  padding-left: 40px;
  width: 100%;
}

.facets-container .icon-search {
  position: absolute;
  top: 12px;
  left: 15px;
  text-decoration: none !important;
}

.facets-container .icon-search:before {
  content: '\e835';
}

.facets .facets__heading {
  display: none;
}

.search-header {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #005580;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #e4ddc7;
}

.search-results-item--product {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-results-item--product .search-results-item__title {
  font-size: 16px;
  line-height: 1.3em;
  color: #005580;
  text-shadow: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
}

.search-results-item__price {
  color: red;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
