/* CART ITEM
========================================================================== */
.cartAction {
    font-family:$fontDefault;
    font-weight:normal;
}
.cartConfirmation {
    @include flexbox;
    > * {
        margin-bottom:0;
        margin-right:$spacingSm;
    }
}
.cartItemContainer {
    margin-bottom: $spacingBase;
}
.cartItem {
    @include font-size(13px);

    position: relative;

    padding: $spacingXSm 0;

    border-bottom: 1px solid $colorBorder;

    &:first-child {
        border-top: 1px solid $colorBorder;
    }

    @include mq(med) {
        @include flexbox;
        @include flex-wrap(wrap);

        padding: $spacingSm 0;
    }
}
.cartItem-image {
    float: left;

    max-width: 30%;
    margin-right: $spacingSm;
    margin-bottom: $spacingSm;

    @include mq(med) {
        max-width: 125px;
    }
}
.cartItem-firstSection,
.cartItem-secondSection, {
    @extend %noPhatBottom;

    p {
        margin-bottom: $spacingXSm;
    }
}
@include mq(med) {
    .cartItem-firstSection {
        @include flex(2 1 0);

        overflow: hidden;
    }
}

.cartItem-secondSection {
    clear: left;

    @include mq(med) {
        @include flex(0 0 150px);

        overflow: hidden;

        margin: 0 $spacingBase;

        text-align: center;
    }
    @include mq(lg) {
        margin: 0 $spacingLg;
    }
}

.cartItem-name {
    @include font-size(17px);

    margin-bottom: $spacingXSm;
}
.cartItem-infoList {
    margin-bottom: $spacingSm;
    padding: 0;

    list-style: none;

    strong {
        color: darken($colorGrey,5);
    }
}
.cartItem-actions {
    @extend %flexbox;

    @include flex-wrap(wrap);
    @include align-items(center);

    margin-top: $spacingSm;
    margin-bottom: $spacingSm;

    input[type='text'] {
        height: 30px;
        margin: 0;
    }

    @include mq(med) {
        @include justify-content(center);
        @include flex-direction(column);
    }
}
.cartItem-actions-counter {
    @extend %inline-flexbox;

    margin-right: $spacingSm;
    margin-bottom: $spacingXSm;

    border: 1px solid $colorBorder;

    @include mq(med) {
        margin-right: 0;
    }
}
.cartItem-actions-counter-control {
    @extend %flexbox;

    @include align-items(center);
    @include justify-content(center);

    width: 30px;
    padding: 0 $spacingXSm;

    cursor: pointer;

    &:hover {
        background: $colorGreyLightest;
    }
    &:before {
        @extend %iconStyle;
        font-size: 100%;

        margin: 0;
    }
}
.cartItem-actions-counter-control--add {
    @extend .icon-plus;

    border-left: 1px solid $colorBorder;
}
.cartItem-actions-counter-control--subtract {
    @extend .icon-minus;

    border-right: 1px solid $colorBorder;
}

.cartItem-actions .form-error {
    margin-top: 0;
    margin-bottom: $spacingXSm;
}

input[type='text'].cartItem-actions-counter-display {
    max-width: 40px;
    height: 28px;
    margin: 0;

    text-align: center;

    border-width: 0;
}
.cartInfo-actions-links {
	@include font-size(12px);

    padding: 0;

    list-style: none;

    li {
        display: inline-block;

        margin-right: $spacingSm;
        padding-top:$spacingXSm;
        padding-bottom:$spacingXSm;

        &:last-child {
            margin-right: 0;
        }
    }

    @include mq(med) {
        li {
            display: block;

            text-align: center;
        }
    }
}
.cartItem-removeLink {
    @extend .icon-close;

    @include font-size(13px);

    font-weight: 300;

    &:before {
        @extend %iconStyle;

        font-size: 100%;

        color: $colorDanger;
    }

    @include mq(med) {
        display: block;

        margin-top: $spacingSm;
        padding-top: $spacingXSm;

        border-top: 1px solid $colorBorder;
    }
}
.cartItem-cap {
    @extend %clearfix;

    margin: 0;
    margin-top: $spacingSm;
    padding: $spacingXSm $spacingSm;

    border-top: 1px dotted $colorGreyLight;

    @include mq(med) {
        @include flex(0 0 125px);

        display: block;

        margin-top: 0;
        padding: 0;

        text-align: right;

        border-width: 0;
    }
}
.cartItem-price {
    @include font-size(18px);

    display: block;
    float: right;

    font-weight: 500;

    color: $colorText;

    span {
        @include font-size(12px);

        display: block;

        opacity: .8;
    }

    @include mq(med) {
        float: none;
    }
}
