/* MAIN HEADER
========================================================================== */

.cartStatus {
    @extend %flexbox;
    @extend .icon-cart-alt;

    @include align-items(center);
    @include justify-content(center);
    @include flex(1 0 auto);

    position: relative;

    padding: 0 $spacingXSm;

    cursor: pointer;

    color: inherit;
    border-left: 1px solid $colorGreyLighter;

    @include mq(lg) {
        @include flex(0 1 0);

        border-width: 0;

        &:before {
            @include font-size(18px);

            width: auto;
            padding-left: $spacingSm;

            border-left: 1px solid $colorGreyLighter;
        }
    }

    &:hover {
        color: $colorHighlight;
    }
    &:before {
        @extend %iconStyle;

        @include font-size(20px);

        margin: 0;
    }
}
.cartStatus-bug {
    z-index: 2;
    top: -7px;
    right: 3px;
    left: auto;

    width: 18px;
    height: 18px;

    line-height: 18px;

    @include mq(lg) {
        right: -5px;
    }
}
