/* CONTENT ROTATOR
========================================================================== */

.contentSlider-content {
	padding-bottom:$spacingLg;
	margin-bottom:0;
}
.contentSlider-item {
	@include responsive-font(6vw, 16px, 22px, 22px);
	text-align:center;
}
.contentSlider-byline {
	@include font-size(14px);
	opacity:.75;
	text-transform:uppercase;
	&:before {
		content:'-' '\00a0';
	}
}
