/* LIST TO TABLE
========================================================================== */ 

.featureCompare-heading {
    @extend .featureBlock-heading;
}
.productFeature-heading {
  margin-bottom:$spacingSm
}
.featureCompare-lead {
  @include font-size($fontSizeBase);
  text-align:center;
  font-weight:normal;
  margin-bottom:$spacingLg;
}
.productFeature-lead {
  @include font-size($h4Size);
}
.featureCompare-table {
    @extend %noPhatBottom;
    margin-bottom:$spacingLg;
    text-align:center;
    width:100%;  
    color:$colorText; 
    @include mq(med) {
      @include flexbox;   
      @include flex-wrap(wrap);
    }
}
.productFeature-tableColumn-inner {
  background:$colorWhite;
  border:2px solid $colorBorder;
  padding-bottom:$spacingXLg !important;
}
.featureCompare-tableColumn-inner  {
    @include flex(1); 
    > * {
        margin-bottom::$spacingSm;
    }
}
// for image offset
.productFeature-tableColumn-inner {
  margin-top:-10px;
}
.featureCompare-tableColumn {
  @include flex(1);
  position:relative;
  background:$colorWhite;
  border:2px solid $colorBorder;   
  padding-bottom:$spacingLg*1.5;

  + .featureCompare-tableColumn {
      margin-left:-2px;
  }
  .btn:hover {
    background:$colorSuccess !important;
    border-color:$colorSuccess !important;
  }
  &:nth-child(2) {
    .featureCompare-tableColumn--heading, .btn {
      background:$colorBrandPrimaryLight;
      border-color:$colorBrandPrimaryLight;
    }
    .featureCompare-tableColumn--subHeading {
      color:$colorBrandPrimaryLight;
    }
  }
  &:nth-child(3) {
    .featureCompare-tableColumn--heading, .btn {
      background:$colorBrandPrimary;
      border-color:$colorBrandPrimary;
    }
    .featureCompare-tableColumn--subHeading {
      color:$colorBrandPrimary;
    }
  }
}

.featureCompare-tableColumn--heading {
  background:$colorLinks;
  color:$colorWhite;
  padding:$spacingSm;
  //same width as borders
  margin:-2px -2px $spacingBase -2px;
  h3 {
    line-height:1.3;
    margin:0;
  }
}

.featureCompare-tableColumn--subHeading {
  color:$colorLinks;
  h4 {
    @include font-size($h3Size);  
    font-weight:normal;
    line-height:1.2
  }
  span {
    @include font-size(14px);
    color:darken($colorGreyLight,10%);
    text-transform:uppercase;
    display:block;
    margin-top:-$spacingXSm;
  }

}

.featureCompare-tableColumn--content {
  padding:0;
  img { margin-bottom:$spacingBase;}
  p, ul {padding:0 $spacingBase 0;}
  ul {padding:0 $spacingXLg 0;text-align:left;}
  .list--block{border-top:none;}
  @include mq(lg){
    ul {padding:0 $spacingSm 0;}
    .featureCompare--two &, .featureCompare--three & {
        ul {max-width:60%;margin: 0 auto $spacingBase; }
    }
  }
}
//special appearance to featured product
.featureCompare-tableColumn.featureCompare-tableColumn--featured {
  border-color:$colorBrandSecondary;
  box-shadow:0px 2px 6px 2px rgba($colorBlack,.3);  
  .featureCompare-tableColumn--heading, .btn {
    background:$colorBrandSecondary;
    border-color:$colorBrandSecondary;
  }
  .featureCompare-tableColumn--subHeading {
    color:$colorBrandSecondary;
  }

  @include mq(lg) {
      @include flex(1.2 1 0);
      margin:-$spacingBase 0 0;
      z-index:1;
      //realign featured product 
      .featureCompare-tableColumn--heading{
        margin-bottom:$spacingBase;
      }  
      + .featureCompare-tableColumn {
        .featureCompare-tableColumn--heading, .btn {
          background:$colorBrandPrimary;
          border-color:$colorBrandPrimary;
        }
        .featureCompare-tableColumn--subHeading {
          color:$colorBrandPrimary;
        }
      }
  }

}
.featureCompare-tableColumn--footer {
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  margin-bottom:0;
  padding-bottom:$spacingBase;
}
.featureCompare-footer {
  display:block;
  width:100%;
  margin-bottom:$spacingBase;
  text-align:center;
}