/* MAIN HEADER
========================================================================== */

.headerMain {
    @include flex(0 0 auto);

    position: relative;
    z-index: 3;
}

.headerMain-util {
    @include font-size(11px);

    padding-right: $gutterBase;
    padding-left: $gutterBase;

    background: $colorBrandPrimary;

    @include mq(xlg) {
        padding-right: $spacingLg;
        padding-left: $spacingLg
    }
}

.headerMain-utilInner {
    @include mq(lg) {
        @include flexbox;
        @include justify-content(space-between);
    }
}

.headerMain-utilZone01 {
    @include flexbox;
    @include align-items(center);

    //border: 1px solid green;
    > * {
        @include flex(1 1 auto);
    }
}

.headerMain-utilZone02 {
    @include flexbox;
    @include align-items(center);

    //border: 1px solid blue;
    > * {
        @include flex(1 1 auto);
    }
}

.headerMain-utilZone03 {
    @include flexbox;
    @include align-items(center);

    //border: 1px solid red;
    > * {
        @include flex(1 1 auto);
    }
}

.headerMain-main {
    @include transition(all .2s ease-in-out);

    padding-right: $gutterBase;
    padding-left: $gutterBase;

    border-bottom: 1px solid $colorGreyLighter;

    @include mq(xlg) {
        padding-right: $spacingLg;
        padding-left: $spacingLg;
    }

    // style the classes which make headerMain-main sticky on scroll
    [class*='js-headerFixed'] & {
        position: fixed;
        right: 0;
        left: 0;

        background: rgba($colorWhite, .95);
    }
    .js-headerFixed--up & {
        top: -100px;
    }
    .js-headerFixed--down & {
        top: 0;
    }
}

.headerMain-mainInner {
    @extend %flexbox;

    @include justify-content(space-between);
}

.headerMain-mainZone01 {
    @include flexbox;
    @include align-items(center);

    //border: 1px solid green;
    > * {
        @include flex(1 1 auto);
    }
}

.headerMain-mainZone02 {
    @include flexbox;
    @include align-items(center);

    @include mq(lg) {
        //shift to the right on lg screens
        margin-left: auto;
    }

    //border: 1px solid blue;
    > * {
        @include flex(1 1 auto);
    }
}

.headerMain-mainZone03 {
    @include flexbox;
    @include align-items(center);

    //border: 1px solid red;
    > * {
        @include flex(1 1 auto);
    }
}
