/* INFOACTION
========================================================================== */
.infoAction {
    margin-bottom: $spacingBase;
}
.infoAction-item {
    @extend %flexbox;

    @include flex-wrap(wrap);
    @include font-size(14px);

    line-height: 1.4;

    border-right: 1px solid $colorBorder;
    border-bottom: 1px solid $colorBorder;
    border-left: 1px solid $colorBorder;

    &:first-child {
        border-top: 1px solid $colorBorder;
    }
    //margin-top:-1px;
}
.infoAction-check,
.infoAction-title,
.infoAction-info,
.infoAction-action {
    @extend %flexbox;

    @include align-items(center);
    @include transition(all .2s ease-in-out);

    padding: $spacingXSm;

    @include mq(lg) {
        padding: $spacingSm;
    }
}
.infoAction-check {
    @include flex(0 0 100%);

    position: relative;

    min-height: $spacingBase*1.5;

    @include mq(med) {
        @include flex(0 0 100px);

        border-right: 1px solid $colorBorder;
    }

    input {
        // hide the actual checkboxes and radios
        @extend %visuallyHidden;

        /*
            * sometimes chrome has strange behavior when you check a radio or checkbox
            * uncomment at your own risk if you run into this ;)
            */
        //display: none;
        &:checked {
            + label {
                background: $colorBorder;

                &:before {
                    background-image: radial-gradient($colorGreyDark, $colorGreyDark 4px, transparent 4px );
                }
            }
        }
        &:not(:checked) + label:hover:before {
            background-image: radial-gradient(darken($colorGreyLight,11), darken($colorGreyLight,11) 4px, transparent 4px );
        }
    }
    label {
        @extend %flexbox;

        @include align-items(center);

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: 0;
        padding: $spacingSm;

        background: $colorGreyLightest;

        &:before {
            @extend %iconStyle;

            width: 16px;
            height: 16px;
            //color: $colorGreyLight;
            margin: -2px 7px 0 0;
            padding: 1px;

            content: '\00A0';
            vertical-align: middle;
            font-size: 14px;
            //line-height and font size are 2px lower than height to account for 1px padding
            //on top and bottom
            line-height: 14px;

            //border:4px solid $colorGreyLight;
            border-radius: 50%;
            background: $colorGreyLight;
            background-clip: padding-box;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, .1) inset;
        }
        &:hover {
            background: $colorGreyLighter;
        }
    }
}

.infoAction-check input[type='checkbox'] {
   + label:before {
      border-radius: 3px;
   }
   &:checked {
      + label {
         &:before {
            background: darken($colorGreyLight, 20%);
            background-image: none;
            box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .1), inset 0 0 0 4px $colorGreyLight;
         }
      }
   }
   &:not(:checked) + label:hover:before {
      background: darken($colorGreyLight, 15%);
      background-image: none;
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .1), inset 0 0 0 4px $colorGreyLight;
   }
}

.infoAction-title {
    @include flex(0 0 100%);

    font-weight: bold;

    @include mq(med) {
        @include flex(1);

        max-width: 30%;
    }
    @include mq(lg) {
        padding-left: $spacingBase;
    }
}

.infoAction-info {
    @include flex(0 0 100%);

    @include mq(med) {
        @include flex(1);
    }
}

.infoAction-action {
    @include flex(1 1 auto);
    @include justify-content(center);
    @include font-size(13px);

    border-top: 1px solid $colorBorder;

    @include mq(med) {
        @include flex-direction(column);
        @include flex(0 0 70px);

        border-top-width: 0;
        border-left: 1px solid $colorBorder;

        &:before {
            margin-right: 0;
            margin-bottom: $spacingXSm/2;

            font-size: 20px;
        }
    }
    @include mq(lg) {
        @include flex(0 0 80px);
    }

    + .infoAction-action {
        border-left: 1px solid $colorBorder;
    }
    &:before {
        @extend %iconStyle;
    }
    &--edit {
        @extend .icon-pencil;
    }
    &--details {
        @extend .icon-info;
    }
    &--remove {
        @extend .icon-trash;

        color: $colorDanger;
    }
    &--change {
        @extend .icon-ellipsis;
    }
}
.infoAction-item.is-selected {
    .infoAction-title {
        @include font-size(18px);
    }
}
