/* FILTER PANEL
========================================================================== */

.mobileFilterDrawerMask {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:4;
	background:rgba($colorBlack,.8);
}


.mobileFilterDrawer {
    background:$colorWhite;
	z-index: 5;
	position: fixed;
	top: 0;
	bottom: 0;
	right:0;
	width: 300px;
	height: 100%;
	-webkit-transform: translate(300px, 0);
	-ms-transform: translate(300px, 0);
	transform: translate(300px, 0);
	overflow-y:auto;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}
.mobileFilterDrawer-content {
    padding:$spacingSm;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.mobileFilterDrawer-close {
	background:$colorGrey;
	height: 42px;
	line-height: 42px;
	border: none;
	padding: 0 $spacingSm 0 0;
	display: block;
	width:100%;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	-webkit-tap-highlight-color: transparent;
	color:$colorWhite;
	text-align:right;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	&:after {
		@extend %iconStyle;
		@include font-size($h2Size);
		height: 42px;
		line-height: 42px;
		content: '\2715';
		margin:0 0 0 5px;
		vertical-align:middle;
	}
	&:hover {
		background:rgba($colorGrey, .75);
	}
	&:focus {
		background:rgba($colorGrey, .85);
	}
	&:active {
		background:rgba($colorGrey, .95);
	}
}
.mobileFilterDrawer-heading {
	@extend .h-pushSmBottom;
	@include font-size(22px);
}
.mobileFilterDrawer-subHeading {
	@extend .h-pushSmBottom;
	@include font-size(18px);
}
.mobileFilterDrawer-filterList {
	@extend .list--bare;
	@include font-size(14px);
	li {
		margin:$spacingXSm 0;
	}
	a {
		text-decoration:none;
	}
}

body.mobileFilterDrawer-open {
  overflow: hidden;
  .mobileFilterDrawer {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
  }
}

@include mq(med) {
    .mobileFilterDrawer {
    	position:static;
    	display:block;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		width:auto;
		z-index:1;
    }
    .mobileFilterDrawer-content {
    	padding:0;
    }
    .mobileFilterDrawer-close {
    	display:none;
    }

}
