/* PAGINATION
========================================================================== */

.pagination {
  margin-bottom:0;
  list-style:none;
  font-size:0;
  margin:auto;
  .pageNumbers {
      @extend %flexbox;
      @include justify-content(center);
      a,
      span {
        @include font-size(13px);
          padding: 0 $spacingXSm;
          text-align: center;
      }

      .current {
          color: $colorGrey;
      }
      .prev, .next {
        background: $colorLinks;
        border-radius:200px;
        color: $colorWhite;
        padding:0.2em $spacingSm;
        line-height:18px;
        font-size:14px;
        text-transform:uppercase;
        &:before, &:after {
          font-family: Fontello;
          font-size:14px;
          display:inline-block;
          // height:1em;
          // width:1em;
        }   
      }
      .prev {
        // border-radius:2px 0 0 2px;
        &:before {
          content: '\e814';
          margin-right:5px;
        }
        &:hover {
          color:$colorWhite;
        }     
      }

      .next {
        // border-radius:0 2px 2px 0;
        &:after {
          content: '\e815';
          margin-left:5px;
          color:$colorWhite;
          font-family: Fontello;
          font-size:14px;
          display:inline-block;        
        }
        &:hover {
          color:$colorWhite;
          background:$colorLinksHover;
        }
      } 
      .inactive {
        pointer-events: none;

        background: $colorGreyLight;
      }    
  }
}


 

/* PAGINATION - source of below pagination styles is unknown; 
OOB does not use <li> ; Also does not have differentiation between top-bottom?
========================================================================== */

// .pagination {

//   li {
//     @include font-size(16px);
//     padding:0;
//     display:inline-block;
//     text-align:center;    
//     // border-left:1px solid $colorWhite;

//     &:first-child {
//       border-width:0;
//     }

//     &:before {
//       display:none;
//     }

//     a {
//       display:block;
//       padding:0 .5em;
//       // background:$colorGreyLighter;
//     }
//     &.pagination-prev, &.pagination-next, .prev, .next {
     
//     }

//     &.pagination-prev a, &.pagination-next a, .prev, .next {
//       background-color: $colorGrey;
//        border-radius:200px;
//       color: $colorWhite;
//       padding:0.2em 0.4em;
//       line-height:18px;
//       font-size:14px;
//       text-transform:uppercase;
//       &:before {
//         font-family: Fontello;
//         font-size:14px;
//         display:inline-block;
//         // height:1em;
//         // width:1em;
//       }
//     }

//     &:hover, &.pagination-current {
//       a {
//         // background:$colorSecondary;
//         color:$colorGreyDarker;
//         text-decoration:none;
//       }
//     }
//     &.pagination-prev a, .prev {
//       // border-radius:2px 0 0 2px;
//       &:before {
//         content: '\e814';
//         margin-right:5px;
//       }
//       &:hover {
//         color:$colorWhite;
//       }
//     }

//     &.pagination-next a, .next {
//       // border-radius:0 2px 2px 0;
//       &:after {
//         content: '\e815';
//         poisition:absolute;
//         right:0;
//         margin-left:5px;
//         color:$colorWhite;
//         font-family: Fontello;
//         font-size:14px;
//         display:inline-block;        
//       }
//       &:hover {
//         color:$colorWhite;
//         background:$colorLinksHover;
//       }
//     }
//     &.is-disabled, &.is-disabled a, .inactive {
//       pointer-events:none;
//       color:$colorWhite;
//     }

//     &.is-disabled a , .inactive {
//       background-color:$colorGreyLighter;
//     }
//   }
// }

// .pagination--top{
//   @include clearfix;
//   padding-bottom:$spacingSm;
// }

// .pagination--bottom{
//   @include clearfix;
//   padding-top: $spacingSm;
// }

// @include mq(xsm){
//   .pagination--bottom{
//     margin-bottom:60px;
//   }
// }

// @include mq(med){
//   .pagination--bottom{
//     margin-bottom:100px;
//   }
// }


