
/* PROFILE
========================================================================== */
.navProfile {
    vertical-align:top;
    h2 {
        @include font-size($fontSizeBase);
        margin-bottom:0;
        font-family:$fontDefault;
        line-height:1;
        font-weight:normal;
    }
}
.navProfile-heading {
    @include font-size($h4Size);
    font-family:$fontDefault;
    font-weight:normal
}
.profile-heading {
    @include flexbox;
    > * {
     margin-right:$spacingSm;
   } 
}