/* PRODUCT TOOLS
========================================================================== */
.productTools {
    @extend %noPhatBottom;

    @include font-size(14px);
    margin-bottom:$spacingBase;
}
.productTools-altPrice {
    display: none;
}
.productTools-priceInfo {
    margin-bottom:$spacingXSm;
    &--hasAlt {
        .productTools-price {
            margin-right: $spacingSm;

            text-decoration: line-through;
        }
        .productTools-altPrice {
            display: inline-block;
        }
    }
}
.productTools-price,
.productTools-altPrice {
    @include font-size(18px);

    margin: 0 $spacingSm $spacingXSm 0;
}
.productTools-price {
    display: inline-block;
}

.productTools-price-modifier {
    @include font-size(13px);

    color: $colorGreyDark;
}
.productTools-infoList {
    //@include font-size(13px);
}
.productTools-actions {
    @extend %noPhatBottom;

    margin-bottom: $spacingSm;

    > * {
        margin-bottom: $spacingSm;

        vertical-align: top;
    }
    //@include mq(med) {
    //    @include flexbox;
    //    @include justify-content(space-between);
    //}
}
.productTools-counter {
    @extend %inline-flexbox;

    margin-right: $spacingXSm;
    margin-bottom: $spacingSm;

    border: 1px solid $colorBorder;
}
.productTools-counter-control {
    @extend %flexbox;

    @include align-items(center);
    @include justify-content(center);

    width: 30px;

    cursor: pointer;
    text-align: center;

    &:hover {
        background: $colorGreyLightest;
    }
    &:before {
        @extend %iconStyle;
        margin:0;
    }
}
.productTools-counter-control--add {
    border-left: 1px solid $colorBorder;

    @extend .icon-plus;
}
.productTools-counter-control--subtract {
    border-right: 1px solid $colorBorder;

    @extend .icon-minus;
}
input[type='text'].productTools-counter-display {
    max-width: 50px;
    margin: 0;

    text-align: center;

    border-width: 0;
}

.productTools-buttonCart,
.productTools-buttonQuote {
    &:before {
        @extend %iconStyle;

        margin-right: .5em;
    }
}
.productTools-buttonCart {
    @extend .icon-cart-alt;
}
.productTools-buttonQuote {
    @extend .icon-tags-alt;
}

/*.productTools-stockAlert {
    @extend .alert;
    @extend .alert--danger;
    @extend .icon-attention;

    display: inline-block;
    &:before {
        @extend %iconStyle;
    }
}*/
