/* PRODUCT GALLERY
========================================================================== */

.productGallery {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}
.productGallery .slick-track {
    min-width: 100%;
}
.productGallery .slick-dots {
    position: static;

    overflow: auto;

    text-align: left;
    white-space: nowrap;

    -webkit-overflow-scrolling: touch;
    padding:0;

    //allow the li to size itself to the content
    li {
        width: auto;
        height: auto;
        margin: 0;
        vertical-align:top;

        button {
            //adjust size to what you'd like the thumbnails to be
            width: 80px;
            height: 80px;

            //hide the usual dots
            &:before {
                display: none;
            }
        }
        //indicator for current thumbnail
        &.slick-active button {
            position: relative;

            //we use :after instead of :before since the base slick slider class uses before
            &:after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;

                display: block;

                height: 3px;

                content: '';

                background: $colorHighlight;
            }
        }
    }
}
