/* SEARCH BAR
========================================================================== */ 

/* Searchbox/button */
.searchBox {
	text-align:right;
	margin-bottom:$spacingBase;
	position:relative;
	z-index: 3;
}
.searchBox-heading {
	span {
		font-weight:normal;
		font-style:italic;
		font-size:80%;
	}
}
.searchBox-textField {
	padding-right: 43px;
	margin:0;
	height:38px;
	line-height:38px;
	border-color:$colorGreyLight;
	color:darken($colorGrey, 45%);
}
.searchBox-submit {
	@extend .icon-search;
	background: $colorGreyLight;
	display:block;
	position:absolute;
	right:0;
	top:0;
	color:$colorWhite;
	border-radius: 0 2px 2px 0;
	height:38px;
	width:38px;
	line-height:38px;
	text-align:center;
	&:before {
		@extend %iconStyle;
		margin:0;
	}
	&:hover {
		color:$colorWhite;
	}
}
.searchBox-suggestions {
	display: none;

	@include mq(med) {
		& {
			display: block;
			position: absolute;
			z-index: 1;
			margin-top: (-1 * $spacingBase) - 1;
			width: 100%;
			border: solid 1px $colorHighlight;
			padding: $spacingSm;
			text-align: left;
			background: $colorWhite;

			&-heading {
				font-family: $fontHighlight;	
    			@include font-size($h5Size);
			}

			&-item {
				$item: &;

				text-align: center;
				cursor: pointer;

				&-image {
					margin-bottom: $spacingSm;
				}

				&-name {
					margin-bottom: 0;
					@include font-size(18px);
					color: $colorLinks;
				}

				&:hover {
					#{ $item }-name {
						color: $colorLinksHover;
					}
				}
			}
		}
	}
}
.searchBox--hiVis {
	margin-bottom:$spacingLg*.75;
	.searchBox-textField {
		border-color:$colorHighlight;
	}
	.searchBox-submit {
		background: $colorHighlight;
	}
}
.searchBox--main {
	@include font-size(20px);
	color:$colorWhite;
	.searchBox-textField {
		background:transparent;
		border-top-width:0;
		border-right-width:0;
		border-left-width:0;
		border-color:$colorWhite !important;
	}
	.searchBox-submit {
		background:transparent;

	}
	::-webkit-input-placeholder {
	   color: $colorWhite;
	   opacity:1;
	   text-transform:uppercase;
	   font-weight:bold;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $colorWhite; 
	   opacity:1;
	   text-transform:uppercase;
	   font-weight:bold;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $colorWhite;
	   opacity:1;
	   text-transform:uppercase;
	   font-weight:bold;
	}

	:-ms-input-placeholder {  
	   color: $colorWhite;
	   opacity:1;
	   text-transform:uppercase;
	   font-weight:bold;
	}
}

