/* SOCIAL BLOCK
========================================================================== */

.socialBlock {
	@extend %section;
	@extend .h-softLgEnds;
	color:$colorWhite;
	background:$colorBrandSecondaryDark;
	.socialLink {
		@extend .footerMainSocialLink;
	    &--facebook {
	        @extend .icon-facebook;
	    }
	    &--twitter {
	        @extend .icon-twitter;
	    }
	    &--youTube {
	        @extend .icon-youtube;
	    }
	    &--linkedin {
	        @extend .icon-linkedin;
	    }
	    &--rss {
	        @extend .icon-rss;
	    }
	    &--googlePlus {
	        @extend .icon-googleplus;
	    }
	    &--skype {
	        @extend .icon-skype;
	    }
	    &--flickr {
	        @extend .icon-flickr;
	    }
	    &--instagram {
	        @extend .icon-instagram;
	    }
	    &--pinterest {
	        @extend .icon-pinterest;
	    }		
	}
	.socialLink-nav {
		@extend .footerMain-topNav;
		@extend .footerMain-topNav--socialNav;
	}
	.socialBlock-heading {
		text-align:center;
		@include mq(med){
			text-align:left;
		}
	}	
}
