/* TABS
========================================================================== */

.tabs {
    @extend %clearfix;

    padding: 0;
    & > li {
        display: inline;

        list-style: none;
        & > a {
            position: relative;

            display: inline-block;
            clear: both;

            padding: 0 $spacingSm $spacingSm;

            cursor: pointer;
            text-decoration: none;

            color: inherit;
            border-bottom: 3px solid transparent;
            .no-touch &:hover {
                color: $colorLinksHover;
                border-color: $colorLinksHover;
            }
            & + div {
                display: none;
                float: left;

                width: 100%;
                max-width: 100%;
                margin-top: -1px;
                padding: $spacingBase 0;

                border-top: 1px solid $colorBorder;
                *:last-child {
                    margin-bottom: 0;
                }
            }
            &.is-active {
                color: $colorLinksHover;
                border-bottom: 3px solid $colorLinksHover;
                .no-touch &:hover {
                    cursor: default;
                }
                & + div {
                    display: block;
                }
            }
        }
    }
    /*
	* For tabs that turn into an accordion pattern on small screens
	*/
    &.tabs--accordion {
        border-bottom-width: 0;
        > li {
            display: block;
            & > a {
                display: block;

                margin-bottom: .2em;
                padding: $spacingSm 0;

                border-bottom-color: $colorBorder;
                &:after {
                    @extend %iconStyle;

                    position: absolute;
                    top: 50%;
                    right: .4em;

                    margin: 0;
                    margin-top: -.5em;
                    padding: .1em;

                    content: '\2b';
                }
                &.is-active:after {
                    content: '\2d';
                }
                & + div {
                    margin-bottom: 0;
                    padding: $spacingSm 0 0 0;

                    border-top-width: 0;
                }
            }
        }
    }
}
@include mq(med) {
    /*
	* Once we get to larger screens, set the accordion back to a tab pattern
	*/
    .tabs {
        &.tabs--accordion {
            border-bottom-width: 1px;
            > li {
                display: inline;
                & > a {
                    display: inline-block;

                    margin-bottom: 0;
                    padding: 0 $spacingSm $spacingSm;

                    border-bottom-color: transparent;
                    &.is-active {
                        border-bottom-color: $colorLinksHover;
                    }
                    &:after {
                        display: none;
                    }
                    & + div {
                        padding: $spacingBase 0;

                        border-top-width: 1px;
                    }
                }
            }
        }
    }
}
